.container{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 1000px;
    border: solid black 1px;
    top: 100px;
    background-image: url("../images/pc.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100% 100%;
}
canvas{
    left: 180px;
    position: absolute;
    top: 95px;
    z-index: 2;
    border: solid lightgreen 1px;
    width:640px;
    height: 455px;
}

.frankComputer{
    position: relative;
    width: 100%;
}